.header{
    margin-top:68px;
    height: 110px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #247A6B;
    margin-bottom: 20px;
}

.information{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 80vw;
}

.information p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
    margin-bottom:10px;
}

.information h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #293845;
}

button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    border:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
