.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main .Select{
    margin-top:68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em
}
