.Header{
    width: 100vw;
    height: 67px;
    background: #C3CFD9;
    position: fixed;
    left: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E8833A;
}